<h1>One more step to reset your password</h1>
<h2>Hi <%= @user.name %>,</h2>
<p><%= link_to "Click here", edit_password_reset_url(@user.reset_token, email: @user.email) %> and follow instructions to reset your password. Thank you!</p>
